@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-foreground font-sans m-0 min-h-screen box-border antialiased selection:bg-paradigm-green selection:text-white;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@layer utilities {
  .text-paradigm-green {
    color: #00E050;
  }

  .bg-paradigm-green {
    background-color: #00E050;
  }
}